.datatable_max_width {
  max-width: 600px;
}

.button_float_right {
  float: right
}

.p-button.p-button-icon-only {
  width: 2rem;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 2rem;
}